<div style="text-align:center"><object type="application/x-shockwave-flash" data="ssp_demo_general_as2.swf" width="550" height="400">
<param name="allowScriptAccess" value="always" />
<param name="movie" value="ssp_demo_general_as2.swf" />
<param name="quality" value="high" />
<param name="bgcolor" value="#222222" />
</object></div>
