<br />
<table width="875" border="0">
<tbody>
<tr>
  <td colspan="2">sample tracks from <i><span style="font-size: large;padding-bottom:10px;">The World Through Rosy Colored Glasses:</span></i></td>
</tr>
<tr>
  <td style="width:200px"><h3>Meant to Be</h3></td>
  <td>
    <audio controls="" autobuffer=""> 
      <source src="audio/03 Meant to Be.ogg">
      <source src="audio/03 Meant to Be.mp3">
    </audio>
  </td>
</tr>
<tr>
  <td style="width:200px"><h3>Heart of Mine</h3></td>
  <td>
    <audio controls="" autobuffer=""> 
      <source src="audio/05 Heart of Mine.ogg">
      <source src="audio/05 Heart of Mine.mp3">
    </audio>
  </td>
</tr>
<tr>
  <td style="width:200px"><h3>Midnight in Ireland</h3></td>
  <td>
    <audio controls="" autobuffer=""> 
      <source src="audio/06 Midnight in Ireland.ogg">
      <source src="audio/06 Midnight in Ireland.mp3">
    </audio>
  </td>
</tr>
<tr>
  <td style="width:200px"><h3>Island Girl</h3></td>
  <td>
    <audio controls="" autobuffer=""> 
      <source src="audio/IslandGirl.ogg">
      <source src="audio/IslandGirl.mp3">
    </audio>
  </td>
</tr>
<tr>
  <td style="width:200px"><h3>Divine Light</h3></td>
  <td>
    <audio controls="" autobuffer=""> 
      <source src="audio/DivineLight.ogg">
      <source src="audio/DivineLight.mp3">
    </audio>
  </td>
</tr>
</tbody></table>
